<!DOCTYPE html>
<html ng-app="app">
  <head>
    <title><%= title %></title>
    <script src="/js/jquery.min.js"></script>
    <script src="/js/jquery.gridster.min.js"></script>
    <script src="/js/angular.min.js"></script>
    <script src="/js/bootstrap.min.js"></script>
    <script src="/js/d3.min.js"></script>
    <script src="/js/d3.layout.min.js"></script>
    <script src="/js/rickshaw.min.js"></script>
    <script src="/js/app.js"></script>
    <link rel='stylesheet' href='/stylesheets/jquery.gridster.min.css' />
    <link rel='stylesheet' href='/stylesheets/font-awesome.min.css' />
    <link rel='stylesheet' href='/stylesheets/bootstrap.min.css' />
    <link rel='stylesheet' href='/stylesheets/rickshaw.min.css' />
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <script>
    	$(function(){ //DOM Ready
			var gridster = $(".gridster ul").gridster({
				widget_margins: [14, 14],
				widget_base_dimensions: [320, 160]
			}).data('gridster');
			gridster.disable();
			//
			$("#hue-on").click(function() {
				$.get("/hue/on");
				return false;
			});
			$("#hue-off").click(function() {
				$.get("/hue/off");
				return false;
			});
			temperatures_chart();
		});
    </script>
  </head>
  <body>
    <h1><%= title %></h1>
    <div class="gridster">
		<ul>
			<li data-row="1" data-col="1" data-sizex="1" data-sizey="1">
				<span class="gs-w-title"><i class="fa fa-sun-o"></i> Weather</span>
				<div ng-controller="weather">
					<table>
						<tr><td>temperature</td><td>{{temperature}} &deg; C</td></tr>
						<tr><td>humidity</td><td>{{humidity}} %</td></tr>
						<tr><td>pressure</td><td>{{pressure}} hPa</td></tr>
						<tr><td>rain</td><td>{{rain}} mm / h</td></tr>
					</table>
			    </div>
		    </li>
		    <li data-row="1" data-col="2" data-sizex="1" data-sizey="2">
				<span class="gs-w-title"><i class="fa fa-location-arrow"></i> Departures</span>
		    	<div ng-controller="departures">
			    	<table>
			    		<tr ng-repeat="d in departures">
			    			<td>{{d.line}}</td>
			    			<td>{{d.destination}}</td>
			    			<td>&#8618; {{d.eta}}</td>    			
			    		</tr>
			    	</table>
			    </div>
		    </li>
		    <li data-row="2" data-col="1" data-sizex="1" data-sizey="1">
				<span class="gs-w-title"><i class="fa fa-fire"></i> Temperature</span>
		    	<div ng-controller="temperatures">
			    	<div id="temperatures-chart"></div>
			    	<h2>{{temperature}} &deg; C</h2>
			    </div>
		    </li>
		    <li data-row="3" data-col="1" data-sizex="1" data-sizey="1">
				<span class="gs-w-title"><i class="fa fa-glass"></i> Canteen</span>
		    	<div ng-controller="menu">
		    		<table>
			    		<tr ng-repeat="d in dishes">
			    			<td>{{d.dish}}</td>
			    			<td>&#8618; {{d.price}}</td>
			    		</tr>
			    	</table>
			    </div>
		    </li>
		    <li data-row="3" data-col="2" data-sizex="1" data-sizey="1">
				<span class="gs-w-title"><i class="fa fa-lightbulb-o"></i> Lights</span>
		    	<div>
		    		<div class="btn-group">
				    	<button type="button" class="btn btn-success" id="hue-on">On</button>
				    	<button type="button" class="btn btn-danger" id="hue-off">Off</button>
				    </div>
			    </div>
		    </li>
		</ul>
	</div>   
  </body>
</html>
