body {
	padding-top: 5.5em;
}

.panel {
	height:190px;
	overflow:hidden;
	border-radius:4px 4px 4px 4px;
	margin-bottom:30px;
}
.panel-clock {
	text-align:center;
	padding: 15px;
}
.clock-wrapper {
	position:relative;
	width: 140px;
	height: 140px;
	margin:auto;
}
.panel-clock .time {
	color:white;
	font-size: 1.25em;
	font-weight: bold;
	position: relative;
	bottom: 84px;
	display: block;
}
.panel-clock .datetime {
	color:white;
	font-size: 1.25em;
	font-weight: bold;
	position: relative;
	bottom: 27px;
	display: block;
}
.panel-double-height {
	height: 410px;
}
.panel .table {
	margin-bottom: 0;
}
.panel .table tr:first-child td {
	border-top: none;
}
.panel-heading {
	padding-left: 8px;
}
.panel-body.chart {
	padding: 0;
}