body {
	padding: 50px;
	font-size: 14px;
	font-family: proxima-nova, "Helvetica Neue", Helvetica, Arial,
		sans-serif;
	background: #eee;
}

a {
	color: #00B7FF;
}

h1 {
	font-size: 2em;
	color: rgb(64, 127, 183);
}

h2 {
	font-size: 1.5em;
}

.gridster>* {
	margin: 0;
	margin-left: -14px;
}

.gridster>ul {
	list-style: none outside none;
}

.gs-w {
	border: 1px solid #DDDDDD;
	border-radius: 4px 4px 4px 4px;
	background: white;
	overflow: hidden;
}

.gs-w>div {
	padding: 1em;
	padding-top: 3em;
	text-align: center;
}

.gs-w-title {
	background-color: #F5F5F5;
	border: 1px solid #DDDDDD;
	border-radius: 4px 0 4px 0;
	color: rgb(87, 171, 39);
	font-weight: bold;
	font-size: 1em;
	left: -1px;
	padding: 3px 7px;
	position: absolute;
	top: -1px;
}

.gs-w table {
	width: 100%;
}

.gs-w td {
	text-align: left;
}

.gs-w td:last-child {
	text-align: right;
}

.gs-w td:first-child {
	font-weight: bold;
}

.rickshaw_graph {
	position: absolute;
	top: 0;
	left: 0;
	overflow: hidden;
}

.rickshaw_graph .path {
	stroke: #dddddd;
	stroke-width: 0;
	fill: rgba(64, 127, 183, 0.33);
}